<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-inverse-background-transparent navbar-inverse-border-transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-id">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BLOG</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-id">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Why?</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-wrapper">
        <div class="container">
            <div class="row text-centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="header-text-wrapper">
                        <h1>Another Blog</h1>
                        <h2>Home Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="container-fluid">
            <div class="row text-centered">
                <!-- <br><br> -->
                <div class="about-section-wrapper">
                    <div class="col-lg-4 about-section" id="about-bootstrap">
                        <img class="about-section-logo-pic" id="django-logo-pic"
                             src="{% static 'img/logos/bootstrap.png'%}">
                        <p>While designing this blog, bootstrap framework was used very frequently. All pages you can find on this website use it.</p>
                    </div>

                    <div class="col-lg-4 about-section" id="about-django">
                        <!-- <h4>Django</h4> -->
                        <img class="about-section-logo-pic" id="django-logo-pic"
                             src="{% static 'img/logos/django.png' %}">
                        <p>Just like Bootstrap used for design, Python &amp Django were used to create backend of this website.</p>
                    </div>

                    <div class="col-lg-4 about-section" id="about-curiosity">
                        <img class="about-section-logo-pic" id="curiosity-logo-pic"
                             src="{% static 'img/logos/curiosity.png' %}">
                        <p>Both Django &amp Bootstrap were used because of my curiosity on using them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-wrapper">
        <div class="container">
            <div class="row text-centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="why-text-wrapper">
                        <h1>Why was this blog created?</h1>
                        <h2>There so many blogs already, so why creating another one? Because it is a great thing for beginners to create. While creating it, I used so many different technologies and learned so many interesting things like Django &amp Bootstrap as mentioned above.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="posts-wrapper">
        <div class="container-fluid">
            <div class="row text-centered">
                <div class="col-lg-6 posts-wrapper-left"></div>
                <div class="col-lg-6 posts-wrapper-right">
                    <h1>Want to read?</h1>
                    <div class="posts-wrapper-right-read col-lg-4 col-lg-offset-4">
                        <a href="{% url 'list' %}"><h2>Go to posts</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(window).scroll(function() {
                var w_scroll = $(this).scrollTop();

                if (w_scroll > 200) {
                    // $(".navbar-inverse").removeClass("navbar-inverse-border-transparent");
                    $(".navbar-inverse").removeClass("navbar-inverse-background-transparent");
                }

                if (w_scroll < 300) {
                    // $(".navbar-inverse").addClass("navbar-inverse-border-transparent");
                    $(".navbar-inverse").addClass("navbar-inverse-background-transparent");

                }

                if (w_scroll <= 330) {
                    $(".header-text-wrapper").css({
                        "transform": "translate(0px, " + w_scroll / 2 + "%)"
                    });
                }
            });
        });
    </script>
</body>
</html>