<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock title %}</title>
    {% include "styles_and_scripts_including.html" %}
</head>
<body>
<div id="wrapper">
{#    {% include "header.html" %}#}
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-centered">
                <div class="content-wrapper">
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
