<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock title %}</title>
    {% include "styles_and_scripts_including.html" %}
</head>
<body>
<div id="wrapper">
    {% include "header.html" %}
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-sm-11">
                {% include "sidebar_button.html" %}
            </div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 pull-right">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
