<nav class="navbar navbar-default navbar-fixed-top header-class">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">BLOG</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Posts</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Anything</a></li>
            </ul>
        </div>
    </div>
</nav>