<nav class="navbar navbar-inverse navbar-awesome navbar-fixed-top header-class">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle navbar-style-change" data-toggle="collapse" data-target="#blog-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header">
            <a href="#" class="navbar-brand">BLOG</a>
        </div>

        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'list' %}">Posts</a></li>
                <li><a href="{% url 'create' %}">Create</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>