{% extends 'base.html' %}

{% block title %}BLOG | Homepage{% endblock %}
{% block styles %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock styles %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="header-wrapper" style="background-image:
          linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url({% static 'img/working-desk.jpg' %})">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 header-text-wrapper">
          <h1>Another Blog</h1>
          <h2>Home Page</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="about-wrapper">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 about-section bootstrap-section">
          <img class="about-section-logo" src="{% static 'img/logos/bootstrap.png' %}" height="200px">
          <p>While designing this blog, bootstrap framework was used very frequently.
            All pages you can find on this website use it.</p>
        </div>

        <div class="col-lg-4 col-md-4 about-section django-section">
          <img class="about-section-logo" src="{% static 'img/logos/django.png' %}" height="200px">
          <p>Just like Bootstrap used for design, Python &amp Django were used
            to create backend of this website.</p>
        </div>

        <div class="col-lg-4 col-md-4 about-section curiosity-section">
          <img class="about-section-logo" src="{% static 'img/logos/curiosity.png' %}"  height="200px">
          <p>Both Django &amp Bootstrap were used because of my curiosity on using them.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="why-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3
        col-lg-offset-1 col-md-offset-1 why-wrapper-why why-section">
          <h1>WHY?</h1>
        </div>

        <div class="col-lg-6 col-md-6 col-lg-offset-2 col-md-offset-2 why-text-wrapper why-section">
          <p>
            There are so many blogs already, so why creating another one?
            Because it is a great thing for beginners to create.
            While creating it, I used so many different technologies 
            and learned so many interesting things like Django &amp Bootstrap
            as mentioned above.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="posts-wrapper" style="
  background-image: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)),
   url({% static 'img/header-bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
          <div class="posts-text-wrapper">
            <h1>Interested?</h1>
            <h2><a href="{% url 'list' %}">Go To Posts</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}


{% block scripts %}
  <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
{% endblock scripts %}
