{% extends "base.html" %}

{% block styles %}
{#    {% load staticfiles %}#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}"/>

    <script>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
            $(".posts-list-item").hover(function() {
                var bg = $(this).css('background-image');
                bg = bg.replace('url(','').replace(')','');
                $(this).css({background: 'linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(' + bg + ')'});
                $(this).css("background-position", "right");
                $(this).css("background-attachment", "fixed");
                {#            $(this).css("background-repeat", "no-repeat");#}
                {#            $(this).css("background-size", "cover");#}
            }, function() {
                var bg = $(this).css('background-image');
                bg = bg.substring(bg.lastIndexOf(' ', bg.length));
                bg = bg.replace('url(','').replace(')','');
                $(this).css("background", "url(" + bg + ")");
                $(this).css("background-position", "left");
                $(this).css("background-attachment", "fixed");
                {#            $(this).css("background-repeat", "no-repeat");#}
                {#            $(this).css("background-size", "cover");#}
            });
        });
    </script>
{% endblock styles %}

{% block content %}
    <ul class="list-group posts-list">
        {% for post in post_queryset %}
            <li class="list-group-item posts-list-item"
                style="background: url({{ post.background.url }}) left fixed;">
                <div class="posts-list-item-title">
                    {{ post.title }}
                </div>
                <div class="posts-list-item-date">
                    {{ post.timestamp }}
                </div>
                <div class="posts-list-item-theme">
                    {{ post.theme }}
                </div>
                <a class="posts-list-item-read" href="{{ post.slug }}">READ</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

<script>
</script>