{% extends "base.html" %}

{% block content %}
    <ul class="list-group posts-list">
        {% for post in post_queryset %}
            <li class="list-group-item posts-list-item"
                style="background: url({{ post.background.url }}) left fixed no-repeat;">
                <div class="posts-list-item-title">
                    {{ post.title }}
                </div>
                <div class="posts-list-item-date">
                    {{ post.timestamp }}
                </div>
                <div class="posts-list-item-theme">
                    {{ post.theme }}
                </div>
                <a class="posts-list-item-read" href="{{ post.pk }}">READ</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

<script>
</script>