{% extends 'base.html' %}

{% block styles %}
	{% load staticfiles %}
	{{ form.media }}
	<link rel="stylesheet" type="text/css"
	 href="{% static 'css/post_form.css' %}">
{% endblock styles %}

{% block content %}
	{% include 'post_form_navbar.html' %}
	<div class="header-wrapper">
		<div class="container">
			<div class="row">
				<div class="header-text-wrapper
				col-lg-8 col-md-8 col-sm-8 col-xs-8
				col-lg-offset-2 col-md-offset-2
				col-sm-offset-2 col-xs-offset-2">
					<h1>Create Post</h1>
					<h3>Fill in all sections below</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="form-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10
				col-lg-offset-2 col-md-2 col-sm-offset-1 col-xs-offset-1">
					<form method="POST" accept="." enctype="multipart/form-data">{% csrf_token %}
						<h1>Title: {{ form.title }}</h1>
						<h2>Theme: {{ form.theme }}</h2>
						<h2>Description: {{ form.description }}</h2>
						<h2>Content: {{ form.content }}</h2>
						<h2>Background: {{ form.background }}</h2>
						<input type="submit"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/post_form.js' %}
	"></script>
{% endblock %}