{% extends "base.html" %}

{% block styles %}
{% load staticfiles %}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{% endblock styles %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3 create-wrapper'>
    <h1>Form</h1>
    <div class="create-form-wrapper">
    <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        <!-- {{ form.as_p }} -->
        <p><span class="create-form-title">Title:</span> {{ form.title }}</p>
        <p><span class="create-form-title">Theme:</span>{{ form.theme }}</p>
        <p style="color: white; padding-bottom: 20px"><span class="create-form-title">Background:</span>{{ form.background }}</p>
        <p class="create-form-title">Content:</p>
        <div class="create-form-content-wrapper">
            {{ form.content }}
        </div>
        <input type='submit' class='btn btn-inverse' value='Create Post' />
    </form>
    </div>
</div>
{% endblock content %}