.create-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
    font-size: 20px;
    color: white;
}

.create-form-wrapper p {
    padding-top: 20px;
}

.create-form-wrapper {
    color: black;
}

.create-form-title {
    color: white;
    padding-right: 10px;
}

.create-form-content-wrapper {
    color: white;
    /*width: 1000px;*/
}

.create-wrapper h1 {
    display: none; 
}

.wmd-panel {
    color: black;
}