.post-detail {
    margin-top: -65px;
    display: table-cell;
    background: rgba(0, 0, 0, 0.1);
    height: 75px;
    /*font-size: 50px;*/
    /*margin-right: 10px;*/
}

.post-detail-title {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    font-size: 2vw;
    /*background: purple;*/
}

.post-detail ul {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-detail ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 77px;
    border: 1px solid transparent;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.post-detail-title-theme {
    display: block;
    float: left;
    /*font-size: 25px;*/
    font-size: 1.3vw;
    /*background: red;*/
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.post-detail-title-date {
    float: right;
    /*font-size: 20px;*/
    /*font-size: 3vh;*/
    font-size: 1vw;
    text-overflow: ellipsis;
    width: 25%;
    height: 100%;
    /*background: green;*/
    padding: 0;
    margin: 0;
}

#post-theme {
    float: left;
    padding-left: 10px;
}

#post-date {
    float: right;
    padding-right: 10px;
}

.post-detail ul li:hover {
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid black;
}

.parallax-image {
    height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.post-detail-content {
    width: 90%;
    /*background: green;*/
    margin: 0 auto;
    men-height: 500px;
    /*font-size: 50px;*/
    /*font-size: 35px;*/
    font-family: Josefin Slab, sans-serif;
    text-align: left;
}

.post-detail-content-p::first-letter {
    text-transform: uppercase;
    /*font-size: 150px;*/
    font-size: 20vh;
    /*color: rgba(19, 18, 22, 0.91);*/
    text-shadow: 5px 2px #000;
    /*line-height:*/
    /*text-shadow: #1a1a1a;*/
    /*padding-bottom:0;*/
    /*font-family: Great Vibes, sans-serif;*/
}


.arrow-left {
    position: fixed;
    left: 3%;
    top: 40%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*h1 {*/
    /*font-size: 200%;*/
/*}*/
/**/
/*h2 {*/
    /*font-size: 175%;*/
/*}*/
/**/
/*h3 {*/
    /*font-size: 150%;*/
/*}*/
/**/
/*h4 {*/
    /*font-size: 125%;*/
/*}*/
/**/