@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');


.navbar-inverse {
  font-weight: 800;
  font-size: 14px;
  transition: 1s;
  background: white;
  border: none;
  margin: 0;
  padding: 0;
}

.navbar-inverse-background-transparent {
  background: transparent;
  padding-top: 15px;!important;
  padding-bottom: 15px;!important;
}


.navbar-inverse .navbar-nav > .active > a {
  transition: 1s;
  background: transparent;
  color: black;
}

.navbar-inverse .navbar-nav>.active > a:hover {
  background: transparent;
  color: black;
}

.navbar-inverse .navbar-nav > li {
  background: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  transition: .3s;
  color: #5d5d5e;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #333;
}

.navbar-inverse .navbar-brand {
  font-family: Above DEMO;
  font-size: 42px;
  font-weight: bolder;
  transition: .5s;
  color: #333;
}

.navbar-inverse .navbar-brand:hover {
  color: black;
}

.navbar-inverse-background-transparent .navbar-nav > .active > a {
  color: #cccccc;
}

.navbar-inverse-background-transparent .navbar-nav > .active > a:hover {
  color: white;
}

.navbar-inverse-background-transparent .navbar-nav > li > a {
  /*color: #cccccc;*/
  color:white;
}

.navbar-inverse-background-transparent .navbar-nav > li > a:hover {
  color: #cccccc;
}

.navbar-inverse-background-transparent .navbar-brand {
  color: #cccccc;
}

.navbar-inverse-background-transparent .navbar-brand:hover {
  color: white;
}

.header-wrapper {
  height: 500px;
  background-attachment: fixed;
  background-position: top;
  background-size: cover; 
}

.header-text-wrapper {
  height: 500px;
  background: transparent;
  text-align: center;
}

.header-text-wrapper h1 {
  margin-top: 120px;
  font-size: 70px;
  font-family: Raleway;
  font-weight: 700;
  color: white;
}

.header-text-wrapper h2 {
  font-size: 50px;
  font-family: Raleway;
  font-weight: 500;
  color: white;
}

.about-section {
  height: 500px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 200px;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(5px);
  transition: all 2s ease-in-out;
}

.about-section-logo {
  /*margin: 0 auto;*/
  /*text-align: center;*/
}

.bootstrap-section {
  background: #553B7C;
}

.django-section {
  background: #103E2E;
}

.curiosity-section {
  background: #01A6F6;
}

.is-showing {
  /*display: block;*/
  opacity: 1;
  transform: translateY(0px);
}

.about-section p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 30px 10px 100px 10px;
    margin: 0;
}

@media screen and (max-width: 768px) {
  .about-section {
    height: 400px;
    background-position: top center;
    background-repeat: no-repeat;
    /*background-size: 200px;*/
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(5px);
    transition: all 2s ease-in-out;
  }
.is-showing {
  /*display: block;*/
  opacity: 1;
  transform: translateY(0px);
}
}