body {
  background: rgba(239, 239, 239, 0.6);
}

.header-wrapper {
  height: 550px;
}

.item {
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-read-button {
  display: block;
  color: #333;
  border-radius: 3px;
  width: 130px;
  height: 45px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 45px;
  vertical-align: middle;
  font-size: 30px;
  font-family: Roboto;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
  background: rgba(242, 245, 247, 1);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.carousel-read-button:hover {
  text-underline-position: none;
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, .25);
  transform: translateY(-5px);
  transform: scale(1.1);
}

.carousel-caption a {
  text-decoration: none;
}

.carousel-caption h3 {
  font-size: 50px;
  font-family: Roboto;
  text-transform: capitalize;
  margin-bottom: 230px;
}

.posts-wrapper {
  margin-top: 50px;
}

.post-wrapper {
  padding: 50px 15px 0 15px;
}

.post {
  /*padding: 10px 5px 0 5px;*/
  /*margin-left:;*/
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/

  height: 500px;
  background: white;
  border-radius: 5px;
  /*background: green;*/
  /*box-shadow: 0 10px 20px 0 #e0e0e0;*/
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
  transform: translateY(0);
  transition: all .3s ease-in-out;
}

.post:hover {
  /*box-shadow: 0 15px 20px 5px #e0e0e0;*/
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, .25);
  transform: translateY(-5px);
  transform: scale(1.1);
}

.post-header {
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 35%;
}

@media screen and (max-width: 768px) {
  .post {
    /*padding: 10px 5px 0 5px;*/
    /*margin-left:;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/

    margin: 0 auto;
    width: 600px;
    height: 500px;
    background: white;
    border-radius: 5px;
    /*background: green;*/
    /*box-shadow: 0 10px 20px 0 #e0e0e0;*/
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
    transform: translateY(0);
    transition: all .3s ease-in-out;
  }

}
