<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock title %}</title>
</head>
<body>
<div class="container">
    {% if messages %}
        <div class="messages">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}
        <h1>{{ title }} is working</h1>
        {% for post in post_queryset %}
            <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a> <br>
            {{ post.content }} <br>
            {{ post.timestamp }} <br>
            {{ post.updated }} <br>
            {{ post.id }} <br>
        {% endfor %}
    {% endblock content %}
</div>

</body>
</html>
