@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Bellefair|PT+Sans');

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    /*margin-bottom: 25px;*/
}

.text-centered {
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover, a:focus {
    color: #7b7b7b;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    /*background: black;*/
    transition: 1s;
    background: rgba(117, 117, 117, 0.7);
}

.navbar-inverse-background-transparent {
    /*background: #2d2d2d;*/
    background: transparent;!important;
}

.navbar-inverse-border-transparent {
    border-color: transparent;!important;
}

.navbar-inverse .navbar-nav > .active > a {
    transition: 1s;
    background: rgba(0, 0, 0, 0.52);
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background: rgba(0, 0, 0, 0.52);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li {
    transition: .3s;
    background: rgba(0, 0, 0, 0.12);

}

.navbar-inverse .navbar-nav > li:hover {
    background: rgba(0, 0, 0, 0.32);
}

.navbar-inverse .navbar-brand {
    color: #E4E5E6;
    font-weight: bolder;
    font-size: 42px;
    font-family: Above DEMO;
    transition: 1s;
}

.navbar-inverse .navbar-brand:hover {
    color: white;
}

.navbar-toggle {
    background: transparent;
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    width: 30px;
    height: 3.4px;
}

.header-wrapper {
    background: url(../img/header-bg-2.jpg) no-repeat;
    margin-top: -70px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-wrapper h1 {
    font-size: 70px;
    margin-top: 120px;
    font-weight: 300;
    color: white;
    letter-spacing: 3px;
}

.header-wrapper h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
}

.about-section-wrapper {
    /*margin-top: -px;*/
    padding: 0;!important;
    margin: 0;!important;
}

.about-section {
    padding: 0;!important;
    margin: 0;!important;
    min-height: 500px;
    max-height: 500px;
    /*width: 100%;*/
}

.about-section h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.about-section p {
    font-family: DejaVu Sans;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 30px 10px 100px 10px;
    margin: 0;
}

.about-section-logo-pic {
    /*width:;*/
}

#django-logo-pic {
    /*width: 2;*/
    /*height: #20%;*/
    height: 217px;
}

#about-django {
    background: #103E2E;
}

#about-bootstrap {
    background: #583B7E;
}

#about-curiosity {
    background: #01A6F6;
}

.why-wrapper {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/working-desk.jpg)fixed;
    background-position: top;
    background-size: cover;
    min-height: 500px;
}

.why-text-wrapper h1 {
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 70px;
}

.why-text-wrapper h2 {
    color: white;
    font-size: 25px;
    line-height: 30px;
}

.posts-wrapper {
    min-height: 500px;
}

.posts-wrapper-left {
    background: url(../img/posts-pic.png);
    background-size: cover;
    width: 50%;
    height: 500px;
}

.posts-wrapper-right {
    background: #323232;
    height: 500px;
}

.posts-wrapper-right h1, h2 {
    color: white;
}

.posts-wrapper-right h1 {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.posts-wrapper-right h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.posts-wrapper-right-read {
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid black;
    cursor: pointer;
    transition: .7s;
}

.posts-wrapper-right-read:hover {
    background: #3d3d3d;
}